<nav class="sidebar-container">


  <ul class="sidebar-menu">


    <li class="sidebar-item">
      <a [routerLink]="['lista-comunidad']" class="sidebar-link">
        <i class="bi bi-globe2 me-2"></i>
        <span>Comunidades</span>
      </a>
    </li>




    <li class="sidebar-item">
      <a href="#" class="sidebar-link" (click)="toggleUsuariosSubmenu(); $event.preventDefault()">
        <i class="bi bi-person-fill me-2"></i>
        <span>Usuarios</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>


      <ul *ngIf="usuariosSubmenuOpen" class="sidebar-submenu ps-4">
        <li>
          <a routerLink="/admin/lista-cliente" class="sidebar-link">Clientes</a>
        </li>



      </ul>
    </li>




  <li class="sidebar-item">
    <a [routerLink]="['/admin/gestion-servicios']" class="sidebar-link">
      <i class="bi bi-grid-fill me-2"></i>
      <span>Servicios y Horarios</span>
    </a>
  </li>

    <li class="sidebar-item">
  <a href="#" class="sidebar-link" (click)="toggleMembresiasSubmenu(); $event.preventDefault()">
    <i class="bi bi-bag-fill me-2"></i>
    <span>Membresías</span>
    <i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul *ngIf="membresiasSubmenuOpen" class="sidebar-submenu ps-4">
    <li>

      <a routerLink="/admin/suspensiones" class="sidebar-link" routerLinkActive="active">
        Solicitudes de suspensión
      </a>
    </li>
    <li>
      <a routerLink="/admin/gestion-planes" class="sidebar-link" routerLinkActive="active">
        Gestión de Planes
      </a>

    </li>
  </ul>
</li>
   <li class="sidebar-item">
  <a [routerLink]="['/admin/reportes-auditoria']" class="sidebar-link" routerLinkActive="active">
    <i class="bi bi-clipboard-data-fill me-2"></i>
    <span>Reportes y Auditoría</span>
  </a>
</li>

  </ul>

</nav>

