<header class="main-header">
  <div class="logo-container">
    <img src="assets/logo_monkey_fit.png" alt="Logo" />
  </div>
  <button class="primary-button" routerLink="/">Ir a Página Principal</button>
</header>

<div class="container-correo-confirmado">
  <div class="contenido-central">
    <h2>Correo <br /> Confirmado</h2>
    <div class="icono-mail">✉️</div>
    <p>¡Felicitaciones! Ha confirmado su correo electrónico</p>
    <button>Ir al Login</button>
  </div>
  <div class="manos-footer">
    <img src="assets/manos.png" alt="Manos levantadas" />
  </div>
</div>

