<div class="home-page-public" style="display: flex; flex-direction: column; min-height: 100vh;">

  <!-- Header -->
  <!-- Header -->
  <header class="bg-white py-3 shadow-sm fixed-top"
  style="border-bottom: 2px solid #A9A9A9; box-shadow: 0 4px 10px rgba(169, 169, 169, 0.5);">
<div class="container d-flex justify-content-between align-items-center">

<!-- Logo -->
<div class="logo d-flex align-items-center gap-4">
  <img src="assets/logo_monkey_fit.png" alt="Logo Monkey Fit" height="50">
  <span class="fw-bold fs-5 text-primary">CommuConnect</span>
</div>

<!-- Menú de navegación centrado -->
<nav class="flex-grow-1">
<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link text-dark" href="#">Home</a></li>
<li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/nosotros">Nosotros</a></li>
  <li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/servicios">Servicios</a></li>
  <li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/membresias">Membresías</a></li>
</ul>
</nav>

<!-- Botones -->
<div class="d-flex gap-2">


 <button class="btn btn-primary btn-sm" routerLink="/autenticacion/login">INICIAR SESIÓN</button>
 <button class="btn btn-primary btn-sm" routerLink="/autenticacion/register">REGISTRARSE</button>

</div>
</div>
</header>

<div class="nosotros-contenedor">
  <div class="nosotros-lado-izquierdo">
    <div class="nosotros-texto">
      <h1>CommuConnect</h1>
      <p>
        En <strong>CommuConnect</strong> somos un equipo apasionado por la salud,
        el movimiento y el poder de las comunidades.
      </p>
      <p>
        Creamos una plataforma que conecta personas con clases de
        <a href="#">yoga</a>, <a href="#">gimnasio</a> y <a href="#">nutrición</a>,
        gestionadas por expertos y adaptadas a las necesidades de cada grupo.
      </p>
      <p>
        Porque creemos que cuando nos cuidamos en comunidad, el
        bienestar es más sostenible, más humano y más real.
      </p>
      <button class="nosotros-boton">INSCRIBIRME</button>
    </div>
  </div>
  <div class="nosotros-lado-derecho"></div>
</div>
