<div class="home-page-public" style="display: flex; flex-direction: column; min-height: 100vh;">

  <!-- Header -->
<app-header-publico></app-header-publico>


<div class="nosotros-contenedor">
  <div class="nosotros-lado-izquierdo">
    <div class="nosotros-texto">
      <h1>CommuConnect</h1>
      <p>
        En <strong>CommuConnect</strong> somos un equipo apasionado por la salud,
        el movimiento y el poder de las comunidades.
      </p>
      <p>
        Creamos una plataforma que conecta personas con clases de
        <a href="#">yoga</a>, <a href="#">gimnasio</a> y <a href="#">nutrición</a>,
        gestionadas por expertos y adaptadas a las necesidades de cada grupo.
      </p>
      <p>
        Porque creemos que cuando nos cuidamos en comunidad, el
        bienestar es más sostenible, más humano y más real.
      </p>
      <button class="nosotros-boton">INSCRIBIRME</button>
    </div>
  </div>
  <div class="nosotros-lado-derecho"></div>
</div>
