<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/logo_monkey_fit.png" alt="Logo" />
    <span class="nombre-app">CommuConnect</span>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/presentacion/inicio">Home</a></li>
    <li><a routerLink="#">Nosotros</a></li>
    <li><a routerLink="/presentacion/membresias">Membresías</a></li>
  </ul>

  <div class="navbar-actions">
    <button class="btn-outline">Iniciar Sesión</button>
    <button class="btn-filled">¡Inscríbete Ya!</button>
  </div>
</nav>
