<header class="main-header">
  <div class="logo-container">
    <img src="assets/logo_monkey_fit.png" alt="Logo" />
  </div>
  <button class="primary-button" routerLink="/">Ir a Página Principal</button>
</header>

<div class="container-confirmar-correo">
  <div class="imagen-lado">
    <img src="assets/corredora.png" alt="Corredora" />
  </div>
  <div class="contenido-lado">
    <h2>Confirme su <br /> correo electrónico</h2>
    <div class="icono-mail">✉️</div>
    <p>Siga el enlace para verificar su dirección de correo electrónico.</p>
    <a href="#" class="volver-enviar">Volver a enviar</a>
  </div>
</div>
