<!-- ENCABEZADO -->
<div class="encabezado">
  <!-- Botones de navegación a la izquierda -->
  <div class="d-flex gap-2">
    <a class="btn btn-outline-primary d-flex align-items-center gap-1"
        href="http://localhost:4200/presentacion/inicio">
      <i class="bi bi-house-fill"></i>
      <span>Inicio</span>
    </a>
  </div>
  <div class="acciones-encabezado">
    <input
      type="text"
      [(ngModel)]="busqueda"
      (input)="filtrarComunidades()"
      placeholder="Buscar comunidad"
      class="buscador"
    />
      <a class="btn btn-outline-danger d-flex align-items-center gap-1"
        (click)="cerrarSesion()"
        style="cursor: pointer;">
        <i class="bi bi-box-arrow-right"></i>
        <span>Cerrar Sesión</span>
      </a>
  </div>
</div>

<!-- CUERPO -->
<div class="contenedor">
  <h1 class="titulo">Bienvenido a CommuConnect</h1>
  <p class="subtitulo">
    Elige la comunidad con la que deseas conectar.<br>
    Cada comunidad tiene experiencias únicas pensadas para ti.
  </p>

  <div class="comunidades">
    <!-- Botón para añadir comunidad -->
    <div class="boton-anadir" (click)="irASeleccionComunidad()">
      <img src="/assets/icono-mas.png" alt="+" />
    </div>

    <!-- Lista de comunidades -->
    <div class="comunidad-card" *ngFor="let comunidad of comunidadesFiltradas">
   <img
  [src]="comunidad.imagen"
  [alt]="comunidad.nombre"
  class="imagen-comunidad"
/>
      <h2 class="nombre-comunidad">{{ comunidad.nombre }}</h2>
      <p class="descripcion-comunidad">{{ comunidad.slogan }}</p>

      <ul class="servicios">
        <li *ngFor="let servicio of comunidad.servicios">{{ servicio.nombre }}</li>
      </ul>

      <p
  class="estado"
  [ngClass]="{
    'congelado': comunidad.estado_membresia === 'congelado',
    'inactiva': comunidad.estado_membresia === 'inactiva',
    'activa': comunidad.estado_membresia === 'activa',
    'pendiente-plan': comunidad.estado_membresia === 'pendiente de plan',
    'pendiente-pago': comunidad.estado_membresia === 'pendiente de pago'
  }"
>
  {{ comunidad.estado_membresia.toUpperCase() }}
</p>




<button
  class="btn-acceder"
  [disabled]="['congelado', 'inactiva'].includes(comunidad.estado_membresia)"
  (click)="redirigirSegunEstado(comunidad)"
>
  ACCEDER
</button>



    </div>
  </div>
</div>