<div class="home-page-public" style="display: flex; flex-direction: column; min-height: 100vh;">

  <!-- Header -->
  <!-- Header -->
  <header class="bg-white py-3 shadow-sm fixed-top"
  style="border-bottom: 2px solid #A9A9A9; box-shadow: 0 4px 10px rgba(169, 169, 169, 0.5);">
<div class="container d-flex justify-content-between align-items-center">

<!-- Logo -->
<div class="logo d-flex align-items-center gap-4">
  <img src="assets/logo_monkey_fit.png" alt="Logo Monkey Fit" height="50">
  <span class="fw-bold fs-5 text-primary">CommuConnect</span>
</div>

<!-- Menú de navegación centrado -->
<nav class="flex-grow-1">
<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link text-dark" href="#">Home</a></li>
  <li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/nosotros">Nosotros</a></li>
  <li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/servicios">Servicios</a></li>
  <li class="nav-item"><a class="nav-link text-dark" routerLink="/presentacion/membresias">Membresías</a></li>
</ul>
</nav>

<!-- Botones -->
<div class="d-flex gap-2">


 <button class="btn btn-primary btn-sm" routerLink="/autenticacion/login">INICIAR SESIÓN</button>
 <button class="btn btn-primary btn-sm" routerLink="/autenticacion/register">REGISTRARSE</button>

</div>
</div>
</header>



<div class="cabecera">
  <h1>MEMBRESIAS</h1>
  <p>Elige el plan que se adapta a ti</p>
  <p>¿Cuántas reservas necesitas y por cuánto tiempo?</p>
</div>

<div class="membresias-container">
  <div class="contenido">
    <div class="planes-vertical">
      <app-plan-card
        titulo="PLAN CON TOPE"
        [beneficios]="[
          'Entrena hasta 5 reservas por mes',
          'Acceso a todos los servicios',
          'Disponible en todas las comunidades',
          'Soporte básico'
        ]"
        precioMensual="59.90"
        precioAnual="599.90"
      ></app-plan-card>

      <app-plan-card
        titulo="PLAN SIN TOPE"
        [beneficios]="[
          'Reservas ilimitadas',
          'Acceso a todos los servicios',
          'Disponible en todas las comunidades',
          'Soporte Preferencial'
        ]"
        precioMensual="119.90"
        precioAnual="1199.90"
        colorTitulo="#009966"
      ></app-plan-card>

      <button class="inscribirme-btn">Inscribirme</button>
    </div>
  </div>

  <img src="assets/depo.png" alt="Deportista" class="imagen-lateral" />
</div>
</div>
