<!-- Contenido -->
<main class="contenido">


 
    <div class="bloque-central">

    

      <div class="volver-container">
        <button class="btn-volver-servicios" [routerLink]="['/admin/lista-comunidad']">
          ⬅  Volver a comunidades
        </button>
      </div>

      
      <div class="encabezado-servicios">
        <h5 class="text-black fw-bold mb-4" style="font-size: 24px;">
            Servicios: {{comunidad.nombre}}
        </h5>

        <button type="button" class="btn btn-success" (click)="irAServiciosDisponibles()">
            Anadir servicio
         </button>
       
        
      </div>

    
    
      <div class="tarjetas">
        <div class="tarjeta" *ngFor="let servicio of servicios">
          <span class="modalidad">{{ servicio.modalidad }}</span>
          <i class="bi bi-gear" *ngIf="!servicio.imagen"></i>
          <img *ngIf="servicio.imagen" [src]="servicio.imagen" [alt]="servicio.nombre" />
          <h4>{{ servicio.nombre }}</h4>
          <p>{{ servicio.descripcion }}</p>


          <div style="position: absolute; bottom: 10px; right: 10px;">
            <div class="dropdown">
             
             

              <button
                class="btn btn-sm btn-light p-1 menu-button"
                type="button"
                id="dropdownMenuButton{{servicio.id_servicio}}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                &#x22EE;
              </button>

  
              <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + servicio.id_servicio">
  
              
                <li><a class="dropdown-item text-danger" href="javascript:void(0)" (click)="eliminarServicioEnComunidad(servicio.id_servicio)">Eliminar</a></li>
  
              </ul>
            </div>
          </div>
          
        </div>
      </div>

      
    </div>
  </main>

