<div class="calendar-container">
  <!-- Calendario semanal -->
  <div class="calendar-week">

     <h1 class="fw-bold mb-4 ms-3" style="font-size: 2.5rem;">
  Mis Reservas
</h1>
    <!-- Cabecera: días de la semana -->
    <div class="week-header">
      <div class="time-header"></div> <!-- espacio vacío para horas -->
      <div *ngFor="let dayKey of currentWeekKeys" class="day-header">
        {{ formatDateToLabel(dayKey) }}
      </div>
    </div>

    <br>




    <!-- Filas de horas -->
    <!-- Filas de horas -->
<div class="week-row" *ngFor="let hour of hours">
  <div class="time-header">{{ hour }}</div>

  <div
    *ngFor="let dayKey of currentWeekKeys"
    class="week-cell"
    [class.reserved]="isReservedForHour(dayKey, hour)"
    (click)="onCellClick(dayKey, hour)"
  >
    <span *ngIf="isReservedForHour(dayKey, hour)">
      {{ getServiceForTime(dayKey, hour) }}
    </span>

   
  </div>
</div>

  </div>


  <div class="calendar-month card shadow-sm p-3">
  <div class="calendar-header d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-outline-primary btn-sm" (click)="previousMonth()">‹</button>
    <h5 class="mb-0">{{ monthName }} {{ year }}</h5>
    <button class="btn btn-outline-primary btn-sm" (click)="nextMonth()">›</button>
  </div>

  <div class="calendar-days row text-center fw-bold border-bottom">
    <div class="col" *ngFor="let day of daysOfWeek">{{ day }}</div>
  </div>

<div class="calendar-grid row text-center">
  <div
    class="col p-2 border calendar-cell"
    *ngFor="let day of daysInMonth"
    [ngClass]="{
      'bg-primary text-white': selectedDay === day,
      'bg-success text-white': isReserved(day) && selectedDay !== day
    }"
    (click)="selectDay(day)"
  >
    {{ day }}
    <div *ngIf="isReserved(day)" class="small">
      {{ getServiceForTime(formatDateKeyFromDay(day), '08:00') }}
    </div>
  </div>
</div>

</div>

</div>
