<div class="container mt-4">
  <p></p>
  <button class="btn-volver-servicios" (click)="volver()">
    ⬅ Volver 
  </button>
  <p></p>





  <h2>Detalle de la sesión presencial</h2>




  <!--
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{ sesion?.descripcion }}</h5>
      <p><strong>Fecha:</strong> {{ sesion?.fecha }}</p>
      <p><strong>Hora:</strong> {{ sesion?.hora_inicio }} - {{ sesion?.hora_fin }}</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Profesional Asignado</h5>
      <p><strong>Nombre:</strong> {{ sesion?.profesional?.nombre }} {{ sesion?.profesional?.apellido }}</p>
      <p><strong>Email:</strong> {{ sesion?.profesional?.email }}</p>
    </div>
  </div>

-->



<!--
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inscritos</h5>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Comunidad</th>
            <th>Entregó Archivo</th>
          </tr>
      </thead>
        <tbody>
          <tr *ngFor="let inscrito of sesion?.inscritos">
            <td>{{ inscrito.nombre }}</td>
            <td>{{ inscrito.apellido }}</td>
            <td>{{ inscrito.comunidad }}</td>
            <td>{{ inscrito.entrego_archivo ? 'Sí' : 'No' }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="sesion?.inscritos?.length === 0">No hay inscritos registrados.</p>
    </div>
  </div>


-->


</div>

