<!-- Contenido -->
  <main class="contenido">


    <div class="row align-items-center">
      <div class="col-auto ms-auto" *ngIf="tieneTopes">
        <div class="tarjeta-amarilla">
          Topes disponibles: {{ topesDisponibles }}
        </div>
      </div>
     
    </div>
    <div class="bloque-central">

     <h2 class="titulo-comunidad mb-4 ms-5">Servicios</h2>

      

      <!-- Topes -->
      <div *ngIf="topes > 0" class="alert alert-warning">
        Reservas disponibles: {{ topes }}
      </div>
      <div class="tarjetas">
        <div class="tarjeta" *ngFor="let servicio of servicios">
          <div class="mb-2">
  <span 
    class="badge text-white px-2 py-1"
    [ngClass]="{
      'bg-verde-oscuro': servicio.modalidad === 'Presencial',
      'bg-azul-marino': servicio.modalidad === 'Virtual'
    }"
  >
    {{ servicio.modalidad }}
  </span>
</div>
         <div class="icono-servicio mb-2">
      <i class="bi bi-gear" *ngIf="!servicio.imagen" style="font-size: 2rem; color: #999;"></i>
      <img *ngIf="servicio.imagen" [src]="servicio.imagen" [alt]="servicio.nombre" />
    </div>
          <h4>{{ servicio.nombre }}</h4>
          <p>{{ servicio.descripcion }}</p>
          <button class="btn-verde" (click)="seleccionarServicio(servicio)">Reservar</button>
        </div>
      </div>

    


    </div>
  </main>
