<div class="login-page">
  <header class="main-header">
    <div class="logo-container">
      <img src="assets/logo_monkey_fit.png" alt="img-foto" />
    </div>
    <button class="primary-button" routerLink="/">Ir a Página Principal</button>
  </header>

  <div class="container">
    <h2><strong>Elige tu plan</strong></h2>

    <!-- Sección PREMIUM -->
    <div class="plans-grid">
      <div class="plan-card premium" *ngFor="let plan of planesPremium">
        <h3>{{ plan.titulo }}</h3>
        <ul>
          <li *ngIf="plan.topes === 0">Reservas ilimitadas.</li>
          <li>Todos los servicios de la comunidad incluidos.</li>
        </ul>
        <p class="price">S/. {{ plan.precio }}</p>
        <button 
          class="btn btn-primary btn-lg"
          (click)="comprarPlan(plan.id_plan, plan.titulo, plan.precio)">
          Comprar ahora
        </button>
      </div>
    </div>

    <!-- Sección CON TOPES -->
    <div class="plans-grid">
      <div class="plan-card" *ngFor="let plan of planesTopes">
        <h3>{{ plan.titulo }}</h3>
        <ul>
          <li>Hasta {{ plan.topes }} reservas.</li>
          <li>Todos los servicios de la comunidad incluidos.</li>
        </ul>
        <p class="price">S/. {{ plan.precio }}</p>
        <button 
          class="btn btn-primary btn-lg"
          (click)="comprarPlan(plan.id_plan, plan.titulo, plan.precio)">
          Comprar ahora
        </button>
      </div>
    </div>

    <button class="omit-btn">Omitir</button>
  </div>
</div>
