

<nav class="sidebar-container">


  <ul class="sidebar-menu">


    <li class="sidebar-item">
      <a href="#" class="sidebar-link" (click)="$event.preventDefault()">
       <i class="bi bi-globe2 me-2"></i>
        <span>Mi Comunidad</span>
      </a>
    </li>


  <li class="sidebar-item">
      <a href="#" class="sidebar-link" (click)="$event.preventDefault()">
        <i class="bi bi-bag-fill me-2"></i>
        <span>Membresías</span>
      </a>
  </li>


  <li class="sidebar-item">
    <a href="#" class="sidebar-link" (click)="$event.preventDefault()">
      <i class="bi bi-grid-fill me-2"></i>
      <span>Servicios y Horarios</span>
    </a>
  </li>

  <li class="sidebar-item">
    <a href="#" class="sidebar-link" (click)="$event.preventDefault()">
       <i class="bi bi-calendar-check me-2"></i>
      <span>Mis Reservas</span>
    </a>
  </li>

  </ul>

</nav>

