<div class="login-page">
  <header class="main-header">
    <div class="logo-container">
      <img src="assets/logo_monkey_fit.png" alt="img-foto" />
    </div>
    <button class="primary-button"  routerLink="/">Ir a Página Principal</button>
  </header>

  <main class="login-main">
    <div class="login-left">
      <img src="assets/adolescentes-activas-haciendo-deporte.jpg" alt="img-foto" />
    </div>

    <div class="registro-right">
      <div class="registro-box">
        <h2>¡Crea tu cuenta!</h2>
        <p>Empieza tu viaje hacia una vida activa y conectada.</p>

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Nombres:</label>
            <input formControlName="nombre" type="text" />
          </div>

          <div class="form-group">
            <label>Apellidos:</label>
            <input formControlName="apellido" type="text" />
          </div>

          <div class="form-group">
            <label>Correo Electrónico:</label>
            <input formControlName="email" type="email" />
          </div>
        <div class="form-row">
          <div class="form-group">
            <label>Tipo de Documento:</label>
            <select formControlName="tipo_documento">
              <option value="">Seleccione</option>
              <option value="DNI">DNI</option>
              <option value="CARNET DE EXTRANJERÍA">Carnet de Extranjería</option>
            </select>
          </div>

          <div class="form-group">
            <label>Número de Documento:</label>
            <input formControlName="num_doc" type="text" />
          </div>
        </div>
          <div class="form-group">
            <label>Contraseña:</label>
            <input formControlName="password" type="password" />
          </div>

          <div class="form-group">
            <label>Repite Contraseña:</label>
            <input formControlName="repetir_password" type="password" />
          </div>

          <div class="form-group">
          <label>Fecha de nacimiento:</label>
          <input formControlName="fecha_nac" type="date" />
        </div>
      <div class="form-row">
        <div class="form-group">
          <label>Departamento:</label>
          <select formControlName="id_departamento">
            <option value="">Selecciona</option>
            <option value="1">Amazonas</option>
            <option value="2">Áncash</option>
            <option value="3">Apurímac</option>
            <option value="4">Arequipa</option>
            <option value="5">Ayacucho</option>
            <option value="6">Cajamarca</option>
            <option value="7">Callao</option>
            <option value="8">Cusco</option>
            <option value="9">Huancavelica</option>
            <option value="10">Huánuco</option>
            <option value="11">Ica</option>
            <option value="12">Junín</option>
            <option value="13">La Libertad</option>
            <option value="14">Lambayeque</option>
            <option value="15">Lima</option>
          </select>
        </div>

        <div class="form-group">
          <label>Distrito:</label>
          <select formControlName="id_distrito">
            <option value="">Selecciona</option>
            <option value="1">ate</option>
          </select>
        </div>
      </div>

          <div class="form-group">
            <label>Dirección domiciliaria:</label>
            <input formControlName="direccion" type="text" />
          </div>

          <div class="form-group">
            <label>Número de Teléfono:</label>
            <input formControlName="numero_telefono" type="tel" />
          </div>
        <div class="form-row">
          <div class="form-group">
            <label>Género:</label>
            <select formControlName="genero">
              <option value="">Selecciona</option>
              <option value="Femenino">Femenino</option>
              <option value="Masculino">Masculino</option>
            </select>
          </div>
          <div class="form-group">
            <label>Peso (kg):</label>
            <input formControlName="peso" type="number" step="0.01" />
          </div>
          <div class="form-group">
            <label>Talla:</label>
            <input formControlName="talla" type="number" step="0.01" />

          </div>
        </div>
          <button class="submit-button" type="submit">Siguiente</button>
          <p>
            Al registrarse, aceptas los
            <a href="/terminos" target="_blank" class="subrayado">Términos del servicio</a>
            y la
            <a href="/política" target="_blank" class="subrayado">Política de privacidad</a>.
          </p>
        </form>
      </div>
    </div>
  </main>
</div>
