<div class="login-page">
  <header class="main-header">
    <div class="logo-container">
      <img src="assets/logo_monkey_fit.png" alt="img-foto" />
    </div>
    <button class="primary-button" routerLink="/">Ir a Página Principal</button>
  </header>

  <main class="login-main">
    <div class="login-left">
      <img src="assets/adolescentes-activas-haciendo-deporte.jpg" alt="img-foto" />
    </div>

    <div class="registro-right">
      <div class="registro-box">
        <h2>¡Crea tu cuenta!</h2>
        <p>Empieza tu viaje hacia una vida activa y conectada.</p>

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombres: <span style="color: red">*</span></label>
        <input formControlName="nombre" type="text" placeholder="Escribe tus nombres" />
        <div class="error-message" *ngIf="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid">
          Este campo es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label>Apellidos: <span style="color: red">*</span></label>
        <input formControlName="apellido" type="text" placeholder="Escribe tus apellidos" />
        <div class="error-message" *ngIf="registroForm.get('apellido')?.touched && registroForm.get('apellido')?.invalid">
          Este campo es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label>Correo Electrónico: <span style="color: red">*</span></label>
        <input formControlName="email" type="email" placeholder="Ej: micorreo@email.com" />
        <div class="error-message" *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.errors">
          <span *ngIf="registroForm.get('email')?.errors?.['required']">Este campo es obligatorio.</span>
          <span *ngIf="registroForm.get('email')?.errors?.['email']">Debe ser un correo válido.</span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Tipo de Documento: <span style="color: red">*</span></label>
          <select formControlName="tipo_documento">
            <option value="">Seleccione</option>
            <option value="DNI">DNI</option>
            <option value="CE">CE</option>
          </select>
          <div class="error-message" *ngIf="registroForm.get('tipo_documento')?.touched && registroForm.get('tipo_documento')?.invalid">
            Este campo es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label>Número de Documento: <span style="color: red">*</span></label>
          <input formControlName="num_doc" type="text" placeholder="Ej: 70954321" />
          <div class="error-message" *ngIf="registroForm.get('num_doc')?.touched && registroForm.get('num_doc')?.invalid">
            Este campo es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña: <span style="color: red">*</span></label>
        <input formControlName="password" type="password" placeholder="Mínimo 8 caracteres" />
        <small class="help-text">Incluye letras y números para mayor seguridad</small>
      </div>

      <div class="form-group">
        <label>Repite Contraseña: <span style="color: red">*</span></label>
        <input formControlName="repetir_password" type="password" placeholder="Confirma tu contraseña" />
        <small class="help-text">Debe coincidir exactamente con la contraseña anterior</small>
      </div>

      <div class="form-group">
        <label>Fecha de nacimiento: <span style="color: red">*</span></label>
        <input formControlName="fecha_nac" type="date" />
        <small class="help-text">Debes tener al menos 18 años para registrarte</small>
      </div>

      <div class="form-row">
<!-- Departamento -->
<div class="form-group">
  <label>Departamento:</label>
  <select formControlName="id_departamento">
    <option value="">Selecciona</option>
    <option *ngFor="let dep of departamentos" [value]="dep.id_departamento">{{ dep.nombre }}</option>
  </select>
</div>

<!-- Distrito -->
<div class="form-group">
  <label>Distrito:</label>
  <select formControlName="id_distrito" [disabled]="!distritos.length">
    <option value="">Selecciona</option>
    <option *ngFor="let dis of distritos" [value]="dis.id_distrito">{{ dis.nombre }}</option>
  </select>
</div>

      </div>

      <div class="form-group">
        <label>Dirección domiciliaria:</label>
        <input formControlName="direccion" type="text" placeholder="Ej: Calle Los Álamos 123" />      </div>

      <div class="form-group">
        <label>Número de Teléfono: <span style="color: red">*</span></label>
        <input formControlName="numero_telefono" type="tel" placeholder="Ej: 983953765" />
        <small class="help-text">Debe tener 9 dígitos.</small>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Género:</label>
          <select formControlName="genero">
            <option value="">Selecciona</option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
          </select>
        </div>

        <div class="form-group">
          <label>Talla:</label>
          <input formControlName="talla" type="number" step="0.01" placeholder="Ej: 170" />
          <small class="help-text">Altura en cm y entero.</small>
        </div>

        <div class="form-group">
          <label>Peso (kg):</label>
          <input formControlName="peso" type="number" step="0.01" placeholder="Ej: 65" />
          <small class="help-text">Peso en kg y entero</small>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

      <button class="submit-button" type="submit">Siguiente</button>
      <p>
        Al registrarse, aceptas los
        <a href="/terminos" target="_blank" class="subrayado">Términos del servicio</a>
        y la
        <a href="/política" target="_blank" class="subrayado">Política de privacidad</a>.
      </p>
    </form>

      </div>
    </div>
  </main>
</div>